server/node_modules
server/.env
server/fbKey.json
server/import-student-template-4A.csv

evaluator/node_modules
evaluator/.github
evaluator/.vscode
evaluator/.env

.vscode
roadmap.md
server/fbKey_1.json
server/encoded.txt
server/stdout
server/datasets/import-student-template-4A.csv
server/datasets/import-student-template-4C.csv
